@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-urbanary: #015497;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}
.slide-down {
  position:fixed;
  transition: 0.2s ease-in;
  animation-duration: 0.5s;
  animation-name: slideInDown;
}
.slide-down-shadow{
  box-shadow: 0 0.5rem 2rem -0.25rem hsla(224.29, 100%, 16.47%, 0.1);
  -webkit-box-shadow: 0 0.5rem 2rem -0.25rem hsla(224.29, 100%, 16.47%, 0.1);
}

@keyframes slideInDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

